{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Caseland</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" media="all">
    <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "js/tether.min.js" %}"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="{% static "js/bootstrap.min.js" %}" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
</head>
<body>
<div class="container-fluid header-caseland">
    <div class="container container-header">
        <div class="row header-row">
            <div class="col-12 text-center">

                <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                </nav>
                <a href="{% url 'webcaseland:home' %}"><img class="margin-logo" src="{% static "img/logo.png" %}" alt="" height="45px"></a>
                <div class="white-social">
                    <a href="https://api.whatsapp.com/send?phone=51910101718"><img src="{% static "img/wtblanco.png" %}" alt=""></a>
                    <a href="https://www.facebook.com/Caselandpe-122846441810069"><img src="{% static "img/fbblanco.png" %}" alt=""></a>
                    <a href="https://www.instagram.com/caseland.pe/"><img src="{% static "img/instagramblanco.png" %}" alt=""></a>
                </div>
            </div>
        </div>
        <div class="row header-row">
            <div class="col-md-12 col-header px-0">
                <nav id="header" class="navbar navbar-expand-lg navbar-dark sticky-top px-0">


        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              PERSONALIZAR
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {% for category in categories %}
                        <a class="dropdown-item" href="{% url 'webcaseland:list_product' category.pk %}">{{ category.name }}</a>
                    {% endfor %}
            </div>
          </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  COLECCIONES
              </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {% for collection in collections %}
                        <a class="dropdown-item" href="{% url 'webcaseland:list_subcategory' collection.pk %}">{{ collection.name }}</a>
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  POR PRODUCTO
              </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {% for category in categories %}
                        <a class="dropdown-item" href="{% url 'webcaseland:list_subcategory' category.pk %}">{{ category.name }}</a>
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'webcaseland:list_subcategory' category_friki.pk %}">ZONA FRIKI</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'webcaseland:list_subcategory' category_fan.pk %}">RINCON DEL HINCHA</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="{% url 'webcaseland:list_subcategory' category_gift.pk %}">REGALOS</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="{% url 'webcaseland:list_subcategory' category_promotion.pk %}">PROMOCIONES</a>
            </li>
          </ul>
        </div>
    </nav>
            </div>
        </div>
    </div>
</div>
{% block content %}
{% endblock %}
<div class="container-fluid footer-caseland d-none d-sm-none d-md-block d-lg-block d-xl-block">
    <div class="container">
        <div class="row py-4">
            <div class="col-md-6">
                CONTACTO<br>
                910101718<br>
                lgonzalesra@gmail.com<br>
                Calle Mercaderes 405 Int. 80 Arequipa
            </div>
            <div class="col-md-6 text-right">
                <a href="https://api.whatsapp.com/send?phone=51910101718"><img src="{% static "img/wp.png" %}" alt=""></a>
                <a href="https://www.facebook.com/Caselandpe-122846441810069"><img src="{% static "img/fb.png" %}" alt=""></a>
                <a href="https://www.instagram.com/caseland.pe/"><img src="{% static "img/instagram.png" %}" alt=""></a>
            </div>
        </div>
    </div>
</div>
<div class="row mx-0 row-floating">
    <div class="col-2 d-md-none d-lg-none d-xl-none contact px-0 text-center">
        CONTACTAR
    </div>
    <a href="https://www.facebook.com/Caselandpe-122846441810069" class="col-5 offset-md-3 col-md-3 facebook px-0 text-center">
        <img src="{% static "img/iconfb.png" %}" alt="" height="50px">
    </a>
    <a href="https://api.whatsapp.com/send?phone=51910101718" class="col-5 whatsapp px-0 text-center col-md-3 ">
        <img src="{% static "img/iconwa.png" %}" alt="" height="50px">
    </a>
</div>
<script>
   /*
    Carousel
*/
$('#recipeCarousel').carousel({
  interval: 5000
});

$('.carousel .carousel-item').each(function(){
    var minPerSlide = 2;
    var next = $(this).next();
    if (!next.length) {
    next = $(this).siblings(':first');
    }
    next.children(':first-child').clone().appendTo($(this));

    for (var i=0;i<minPerSlide;i++) {
        next=next.next();
        if (!next.length) {
        	next = $(this).siblings(':first');
      	}

        next.children(':first-child').clone().appendTo($(this));
      }
});

</script>
</body>