{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Caseland</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" media="all">
    <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "js/tether.min.js" %}"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="{% static "js/bootstrap.min.js" %}" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
</head>
<body>
<div class="container-fluid header-caseland">
    <div class="container container-header">
        <div class="row header-row">
            <div class="col-12 text-center">

                <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                </nav>
                <img class="py-5" src="{% static "img/logo.png" %}" alt="" height="150px">
                <div class="white-social">
                    <img src="{% static "img/wtblanco.png" %}" alt="">
                    <img src="{% static "img/fbblanco.png" %}" alt="">
                    <img src="{% static "img/instagramblanco.png" %}" alt="">
                </div>
            </div>
        </div>
        <div class="row header-row">
            <div class="col-md-12 col-header">
                <nav id="header" class="navbar navbar-expand-lg navbar-dark sticky-top">


        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              PERSONALIZAR
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  COLECCIONES
              </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Zona Friki</a>
                  <a class="dropdown-item" href="#">Rincon del Hincha</a>
                  <a class="dropdown-item" href="#">Regalos</a>
                </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  POR PRODUCTO
              </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {% for category in category_list %}
                        <a class="dropdown-item" href="{% url 'webcaseland:list_product' category.pk %}">{{ category.name }}</a>
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#conviertete-en-orador">ZONA FRIKI</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-platzi" href="#" data-toggle="modal" data-target="#modalCompra">RINCON DEL HINCHA</a>
            </li>
              <li class="nav-item">
              <a class="nav-link text-platzi" href="#" data-toggle="modal" data-target="#modalCompra">REGALOS</a>
            </li>
              </li>
              <li class="nav-item">
              <a class="nav-link text-platzi" href="#" data-toggle="modal" data-target="#modalCompra">PROMOCIONES</a>
            </li>
          </ul>
        </div>
    </nav>
            </div>
        </div>
    </div>
</div>
{% block content %}
{% endblock %}
<div class="container-fluid footer-caseland">
    <div class="container">
        <div class="row py-4">
            <div class="col-md-6">
                CONTACTO<br>
                lgonzalesra@gmail.com<br>
                Calle Mercaderes 405 Int. 80 Arequipa
            </div>
            <div class="col-md-6 text-right">
                <img src="{% static "img/wp.png" %}" alt="">
                <img src="{% static "img/fb.png" %}" alt="">
                <img src="{% static "img/instagram.png" %}" alt="">
            </div>
        </div>
    </div>
</div>
</body>