{% extends 'base.html' %}
{% load staticfiles %}
{% load l10n %}
{% block content %}
    <div class="container detail-product py-5">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ object.image.url }}" alt="" width="100%" height="auto">
            </div>
            <div class="col-md-5 pt-3 pt-sm-3 pt-md-0">
                <h4 class="mb-4">{{ object.name }}</h4>
                {{ object.description | safe }}
                <div class="price">S/. {{ object.price|floatformat:2  }}</div>
                <div class="price-text pb-5">precio</div>

                <a href="#" data-toggle="modal" class="how-to-buy py-3 px-5" data-target="#exampleModal">
                    COMO COMPRAR
                </a>
                <br>
                <br>
                <br>
            </div>
        </div>


    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header text-right">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <img height="40px" src="{% static "img/x.png" %}">
                    </button>

                </div>

                <div class="modal-body py-0 px-0">
                    <div class="row my-3 my-md-5 mx-sm-4 mx-md-4">
                        <div class="col-md-12 col-xs-12 text-center buy-web">Pronto podras realizar tus compras por nuestra
                            web.
                        </div>
                    </div>
                    <div class="row my-3 my-md-5 mx-sm-4 mx-md-4">
                        <div class="col-md-12 col-xs-12 text-center contact-web">Para realizar tu compra contactanos por nuestro
                            facebook o wp.
                        </div>
                    </div>
                    <div class="row mx-0 row-contact">
                        <div class="col-2 d-md-none d-lg-none d-xl-none contact px-0 text-center">
                            CONTACTAR
                        </div>
                        <div class="col-5 offset-md-3 col-md-3 facebook px-0 text-center">
                            <a href="https://www.facebook.com/Caselandpe-122846441810069">
                                <img src="{% static "img/iconfb.png" %}" alt="" height="50px">
                            </a>
                        </div>
                        <div class="col-5 whatsapp px-0 text-center col-md-3 ">
                            <a href="https://api.whatsapp.com/send?phone=51910101718">
                                <img src="{% static "img/iconwa.png" %}" alt="" height="50px">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



{% endblock %}