{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-12 slider">
                <ul class="bxslider">
                    {% for slider in sliders %}
                         <li>
                        <img class="img-slider" src="{{ slider.image.url }}" alt="">
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-caseland">
        <div class="row">
            <div class="col-md-12 text-center py-4">
                <h2 class="title-body">PERSONALIZA CUALQUIERA DE ESTOS PRODUCTOS <br>o elige un diseño de nuestro catálogo</h2>
            </div>
        </div>
        <div class="row mb-4">
            {% for category in categories %}
                <div class="col-md-3 category px-2 mb-4 py-2 mx-4 mx-sm-0 mx-md-0 mx-lg-0">
                    <img src="{{ category.image.url }}" alt="" width="100%" height="auto">
                    <div class="category-option bg-white py-2">
                        <div class="name-category text-center my-2">
                            {{ category.name }}
                        </div>
                        <a href="{% url 'webcaseland:list_product' category.pk 'category' %}"
                       class="personalize text-center my-2 py-3 py-md-2 mx-4">
                        Personalizar
                        </a>
                        <a href="{% url 'webcaseland:list_subcategory' category.pk %}"
                           class="designs text-center my-2 mb-sm-3 py-3 py-md-2 mx-4 mb-4">
                            Catálogo
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row corner-fan my-4 px-5 pb-5 pt-4">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="pb-4">Rincon Del Hincha</h4>
                    </div>
                </div>
                <div class="row px-3">
                    <div class="col-12">
                        <div class="col-12">
                            <div class="container text-center my-3">
                                <div class="row mx-auto my-auto">
                                    <div id="recipeCarousel1" class="carousel slide w-100" data-ride="carousel">
                                        <div class="carousel-inner w-100" role="listbox">
                                            {% for corner in cornerfan_list %}
                                                {% if forloop.counter == 1 %}
                                                    <div class="carousel-item active">
                                                {% else %}
                                                    <div class="carousel-item">
                                                {% endif %}
                                            <div class="col-lg-3 col-md-3">
                                                <a href="{% url 'webcaseland:list_product' corner.pk 'subcategory_catalog' %}">
                                                    <img class="img-fluid" src="{{ corner.image.url }}">
                                                </a>
                                            </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <a class="carousel-control-prev w-auto" href="#recipeCarousel1" role="button"
                                           data-slide="prev">
                                            <img src="{% static "img/arrow_left.png" %}" height="55"/>
                                        </a>
                                        <a class="carousel-control-next w-auto" href="#recipeCarousel1" role="button"
                                           data-slide="next">
                                            <img src="{% static "img/arrow_rigth.png" %}" height="55"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row geek-zone my-4 px-5 pb-5 pt-4">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="pb-4">Zona friki</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="container text-center my-3">
                            <div class="row mx-auto my-auto">
                                <div id="recipeCarousel2" class="carousel slide w-100" data-ride="carousel">
                                    <div class="carousel-inner w-100" role="listbox">
                                        {% for friki in friki_list %}
                                            {% if forloop.counter == 1 %}
                                                <div class="carousel-item active">
                                            {% else %}
                                                <div class="carousel-item">
                                            {% endif %}
                                        <div class="col-lg-3 col-md-3">
                                            <a href="{% url 'webcaseland:list_product' friki.pk 'subcategory_catalog' %}">
                                                <img class="img-fluid" src="{{ friki.image.url }}">
                                            </a>
                                        </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <a class="carousel-control-prev w-auto" href="#recipeCarousel2" role="button"
                                       data-slide="prev">
                                        <img src="{% static "img/arrow_left.png" %}" height="55"/>
                                    </a>
                                    <a class="carousel-control-next w-auto" href="#recipeCarousel2" role="button"
                                       data-slide="next">
                                        <img src="{% static "img/arrow_rigth.png" %}" height="55"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gifts my-4 px-5 pb-5 pt-4">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="pb-4">Regalos</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="container text-center my-3">
                            <div class="row mx-auto my-auto">
                                <div id="recipeCarousel3" class="carousel slide w-100" data-ride="carousel">
                                    <div class="carousel-inner w-100" role="listbox">
                                        {% for gift in gift_list %}
                                            {% if forloop.counter == 1 %}
                                                <div class="carousel-item active">
                                            {% else %}
                                                <div class="carousel-item">
                                            {% endif %}
                                        <div class="col-lg-3 col-md-3">
                                            <a href="{% url 'webcaseland:list_product' gift.pk 'subcategory_catalog' %}">
                                                <img class="img-fluid" src="{{ gift.image.url }}">
                                            </a>
                                        </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <a class="carousel-control-prev w-auto" href="#recipeCarousel3" role="button"
                                       data-slide="prev">
                                        <img src="{% static "img/arrow_left.png" %}" height="55"/>
                                    </a>
                                    <a class="carousel-control-next w-auto" href="#recipeCarousel3" role="button"
                                       data-slide="next">
                                        <img src="{% static "img/arrow_rigth.png" %}" height="55"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}