{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container body-caseland">
    <div class="row">
        <div class="col-md-12 text-center py-4">
            <h2 class="title-body">PERSONALIZADODERCGVSDFDFTRGDGYNB</h2>
        </div>
    </div>
    <div class="row mb-4">
        {% for category in category_list %}
            <div class="col-md-3">
                <img src="{{ category.image.url }}" alt="" width="100%" height="auto">
                <div class="category text-center my-2">
                    {{ category.name }}
                </div>
                <div class="personalize text-center my-2 py-1 mx-4">
                    <a href="{% url 'webcaseland:list_product' category.pk %}">Personalizar</a>
                </div>
                <div class="designs text-center my-2 mb-sm-5 py-1 mx-4">
                    Diseños
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row corner-fan my-4 px-5 pb-5 pt-4">
        <div class="col-12">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="pb-4">Rincon Del Hincha</h4>
                </div>
            </div>
            <div class="row px-3">
                {% for corner in cornerfan_list %}
                    <div class="col-md-3 col-6">
                        <img src="{{ corner.image.url }}" alt="" width="100%" height="auto">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row geek-zone my-4 px-5 pb-5 pt-4">
        <div class="col-12">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="pb-4">Zona friki</h4>
                </div>
            </div>
            <div class="row">
                {% for friki in friki_list %}
                    <div class="col-md-3 col-6">
                        <img src="{{ friki.image.url }}" alt="" width="100%" height="auto">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row gifts my-4 px-5 pb-5 pt-4">
        <div class="col-12">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="pb-4">Regalos</h4>
                </div>
            </div>
            <div class="row">
                {% for gift in gift_list %}
                    <div class="col-md-3 col-6">
                        <img src="{{ gift.image.url }}" alt="" width="100%" height="auto">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}