/*
Author: jheison.talavera@gmail.com
*/
body{
    font-family: Arial, Helvetica, Verdana, serif;
    background-color: #E6E6E6;
}

/*General CSS*/

.body-caseland a,.body-product a{
    color: black;
}

.header-caseland{
    background-color: #000000;
}


.title-body{
    font-size: 20px;
}


.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-toggle::after {
    display:none;
}

.dropdown .btn{
    background-color: transparent;
    border-radius: 0;
    border-bottom: none;
    border-left: none;
    border-top: none;
    border-right: 1px solid #07DBD0;

}

.category{
    border-left: 20px solid #E6E6E6;
    border-right: 20px solid #E6E6E6;
}

.category:nth-child(1n){
    border-left: none;
    border-right: 20px solid #E6E6E6;
}

.category:nth-child(4n){
    border-left: none
}

.name-category{
    font-weight: bold;
    font-size: 0.7rem;
}

.personalize{
    font-size: 0.7rem;
    border-radius: 56px 56px 56px 56px;
    border: 1px solid #000000;
}
.designs{
    font-size: 0.7rem;
    border-radius: 56px 56px 56px 56px;
    border: 1px solid #000000;
}

.corner-fan{
    background-color: #FFF;
}

.gifts{
    background-color: #FFF;
}

.description{

}

.price{
    font-size: 24px;
    font-weight: bold;
}
.price-text{
    color: #727376;
    line-height: 0;
}

.how-to-buy{
    border-radius: 56px 56px 56px 56px;
    background-color: #04B7AF;
    color: white;
    text-align: center;
    width: 60%;
    text-decoration: none;
    font-weight: bold;
}

.how-to-buy:hover{
    color: white;
    text-decoration: none;
}

#header{
    padding-top: 0;
    padding-bottom: 0;
}

.icons-social img{
    height: 50px;
}

.navbar-nav{
    width: 100%;
}
.navbar-dark .navbar-nav .nav-item {
    width: 14.2857142857%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-dark .navbar-nav .nav-item:hover > .nav-link{
    color: #000000 !important;
}

.navbar-dark .navbar-nav .nav-item:hover + .nav-item .nav-link{
    border-left: solid rgba(0, 0, 0, 0.5) 2px;
}

.navbar-dark .navbar-nav .nav-item:hover{
    background-color: #07DBD0;

}

.navbar-dark .navbar-nav .nav-item:first-child .nav-link {
    border-left: none;
}

.navbar-dark .navbar-nav .nav-link {
    border-left: solid #07DBD0 2px;
    color: #ffffff;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 0.7vw;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 8px;
}

.footer-caseland{
    background-color: #000000;
    color: white;
    font-size: 12px;
}

.footer-caseland img{
    height: 50px;
}
.white-social{
    position:absolute;
   top:20px;
   right:0;
}

.dropdown-item{
    background-color: #07DBD0;
     border-bottom: solid 1px white;
}

.dropdown-menu{
    margin-top: 0;
    padding: 0;

}

.navbar-toggler{
    position:absolute;
   top:0;
   left:0;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(7,219,208)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.contact{
    background-color: #000000;
    color: white;
    height: 70px;
    line-height: 70px;
}
.facebook{
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #3b5998;
}
.whatsapp{
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: green;
}

.row-contact{
    margin-bottom: 30px;
    height: 70px;
}

.modal-content{
    background-color: #E6E7E8;
    border: none;
}
.modal-header{
    border-bottom: none;
}

.buy-web{
    font-size: 40px;
    font-weight: bold;
}
.contact-web{
    font-size: 15px;
    font-weight: bold;
}

.bar-personalize{
    width: 100%;
    background-color: #04B7AF;
    color: white;
    display: none;
    font-weight: bold;
}

/* Some Extra Classes */
.margin-logo{
    margin-bottom: 2.5rem!important;
    margin-top: 2.5rem!important;
}

.navbar{padding-top: 0}
/* Portrait phones and smaller */
@media (max-width: 575px) {
    .white-social img{
        height: 30px;
    }
    .margin-logo{
        height: 40px;
    }
    .category{
        border-left: 20px solid #E6E6E6 !important;
    }
    .bar-personalize{
        display: block;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
     .how-to-buy{
        margin-left: 30%;
    }

    .white-social img{
        height: 40px;
    }
    .margin-logo{
        height: 45px;
    }
}

@media (max-width: 992px) {
    .navbar-dark .navbar-nav .nav-link{
        border-left: none;

    }

    .container-header {
        width: 100%;
        max-width: 100%;
        padding-right: 0;
        padding-left: 0;
   }

    .header-caseland{
        padding-right: 0;
        padding-left: 0;
    }

    #header {
        padding-right: 0;
        padding-left: 0;
    }
    .navbar-dark .navbar-nav .nav-item{
        width: 100%;
         border-top: solid 2px #07DBD0;
    }

    .navbar-dark .navbar-nav .nav-link {
        text-align: left;
        margin-left: 15px;
        font-size: 12px;
    }

    .navbar-dark .navbar-nav .nav-item:hover {
        background-color: #000000;
    }

    .navbar-dark .navbar-nav .nav-item:hover > .nav-link{
        color: white !important;
    }

    .header-row{
        margin-left: 0;
        margin-right: 0;
    }

    .col-header{
        padding-left: 0;
        padding-right: 0;
    }

    .contact{
        font-size: 0.6rem;
        height: 60px;
        line-height: 60px;
    }
    .row-contact{
        margin-bottom: 0;
        height: 50px;
    }
    .facebook{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .facebook img{
        height: 40px;
    }
    .whatsapp{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .whatsapp img{
        height: 40px;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}