/*
Author: jheison.talavera@gmail.com
*/

@font-face {
    font-family: 'Arial Black';
    src: url('../fonts/arial-black.woff') format('woff'),
    url('../fonts/arial-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: Arial, Helvetica, Verdana, serif;
    background-color: #E6E6E6;
}

/*General CSS*/

.body-caseland a,.body-product a{
    color: black;
}

.header-caseland{
    background-color: #000000;
}


.title-body{
    font-size: 20px;
}

.dropdown{
    display: list-item;
}
.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-toggle::after {
    display:none;
}

.dropdown .btn{
    background-color: transparent;
    border-radius: 0;
    border-bottom: none;
    border-left: none;
    border-top: none;
    border-right: 1px solid #07DBD0;

}

.category:hover {
    text-decoration: none;
    box-shadow: -2px 3px 18px rgba(0, 0, 0, .3);
    -webkit-transform: scale(1.025);
    transform: scale(1.025);
    transition-duration: 0.5s;
}

.category{
    /*padding-left: 1rem;*/
    /*padding-right: 1rem;*/
}

.body-caseland .category img{
    margin-top: 0;
}

.category img{
    margin-top: 1rem;
}
.category:nth-child(1n){
    /*padding-left: 0;*/
    /*padding-right: 1rem;*/
}

.category:nth-child(4n){
    /*padding-left: 1rem;*/
    /*padding-right: 0;*/
}

.name-category{
    font-family: arial, Helvetica, serif;
    font-size: 1.1rem;
    font-weight: bold;
}

.personalize{
    display: block;
    font-size: 0.9rem;
    border-radius: 56px 56px 56px 56px;
    border: 1px solid #000000;
}

.personalize:hover{
    background-color: #04B7AF;
    color: white;
    text-decoration: none;
}


.designs{
    display: block;
    font-size: 0.9rem;
    border-radius: 56px 56px 56px 56px;
    border: 1px solid #000000;
}

.designs:hover{
    background-color: #04B7AF;
    color: white;
    text-decoration: none;
}

.corner-fan{
    background-color: #FFF;
}

.corner-fan h4{
    font-weight: bold;
}

.gifts{
    background-color: #FFF;
}

.gifts h4{
    font-weight: bold;
}

.geek-zone h4{
    font-weight: bold;
}

.description{

}

.price{
    font-size: 24px;
    font-weight: bold;
}
.price-text{
    color: #727376;
    line-height: 0;
}

.how-to-buy{
    border-radius: 56px 56px 56px 56px;
    background-color: #04B7AF;
    color: white;
    text-align: center;
    width: 60%;
    text-decoration: none;
    font-weight: bold;
}

.how-to-buy:hover{
    color: white;
    text-decoration: none;
}

#header{
    padding-top: 0;
    padding-bottom: 0;
}

.icons-social img{
    height: 50px;
}

.navbar-nav{
    width: 100%;
}
.navbar-dark .navbar-nav .nav-item {
    width: 14.2857142857%;
    padding-top: 1px;
    padding-bottom: 1px;
}

.navbar-dark .navbar-nav .nav-item:hover > .nav-link{
    color: #000000 !important;
}

.navbar-dark .navbar-nav .nav-item:hover + .nav-item .nav-link{
    border-left: solid rgba(0, 0, 0, 0.5) 2px;
}

.navbar-dark .navbar-nav .nav-item:hover{
    background-color: #07DBD0;

}

.navbar-dark .navbar-nav .nav-item:first-child .nav-link {
    border-left: none;
}

.navbar-dark .navbar-nav .nav-link {
    border-left: solid #07DBD0 2px;
    color: #ffffff;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 0.8vw;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 8px;
}

.footer-caseland{
    background-color: #000000;
    color: white;
    font-size: 12px;
}

.footer-caseland img{
    height: 50px;
}
.white-social{
    position:absolute;
   top:20px;
   right:0;
}

.dropdown-item{
    background-color: #07DBD0;
     border-bottom: solid 1px white;
}

.dropdown-menu{
    margin-top: 0;
    padding: 0;

}

.navbar-toggler{
    position:absolute;
   top:0;
   left:0;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(7,219,208)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.contact{
    background-color: #000000;
    color: white;
    height: 70px;
    line-height: 70px;
}
.row-contact .facebook{
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #3b5998;
}
.row-contact .whatsapp{
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: green;
}

.row-contact{
    margin-bottom: 30px;
    height: 70px;
}

.row-floating{
    display: none;
}

.modal-content{
    background-color: #E6E7E8;
    border: none;
}
.modal-header{
    border-bottom: none;
}

.buy-web{
    font-size: 40px;
    font-weight: bold;
}
.contact-web{
    font-size: 15px;
    font-weight: bold;
}

.bar-personalize{
    width: 100%;
    background-color: #04B7AF;
    color: white;
    display: none;
    font-weight: bold;
}

#header .dropdown-item{
    font-size: 0.8rem;
    padding-top: .9rem;
    padding-bottom: .9rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* Some Extra Classes */
.margin-logo{
    margin-bottom: 2.5rem!important;
    margin-top: 2.5rem!important;
}

.navbar{padding-top: 0}

.catalog .catalog-name{
    font-size: 1rem;
}

.catalog .catalog-price{
    font-size: 1.2rem;
    color: #0BABA3;
    font-family: "Arial Black", arial-black;
}

@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

.carousel-control-prev {
  margin-left: -25px;
}

.carousel-control-next {
  margin-right: -25px;
}


@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}


/* Portrait phones and smaller */
@media (max-width: 575px) {
    .white-social img{
        height: 30px;
    }
    .margin-logo{
        height: 40px;
    }
    .category{
        padding-left: .5rem;
        padding-right: .5rem;

    }
    .bar-personalize{
        display: block;
    }
    .catalog{
        padding-left: .25rem;
        padding-right: .25rem;
    }
    .navbar-dark .navbar-nav .nav-item:nth-child(7),.nav-item:nth-child(6),.nav-item:nth-child(5),.nav-item:nth-child(4){
        display: none;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
     .how-to-buy{
        margin-left: 30%;
    }

    .white-social img{
        height: 40px;
    }
    .margin-logo{
        height: 45px;
    }
}

@media (max-width: 992px) {
    .navbar-dark .navbar-nav .nav-link{
        border-left: none;

    }

    .container-header {
        width: 100%;
        max-width: 100%;
        padding-right: 0;
        padding-left: 0;
   }

    .header-caseland{
        padding-right: 0;
        padding-left: 0;
    }

    #header {
        padding-right: 0;
        padding-left: 0;
    }
    .navbar-dark .navbar-nav .nav-item{
        width: 100%;
         border-top: solid 2px #07DBD0;
    }

    .navbar-dark .navbar-nav .nav-link {
        text-align: left;
        margin-left: 15px;
        font-size: 12px;
    }

    .navbar-dark .navbar-nav .nav-item:hover {
        background-color: #000000;
    }

    .navbar-dark .navbar-nav .nav-item:hover > .nav-link{
        color: white !important;
    }

    .header-row{
        margin-left: 0;
        margin-right: 0;
    }

    .col-header{
        padding-left: 0;
        padding-right: 0;
    }

    .contact{
        font-size: 0.6rem;
        height: 60px;
        line-height: 60px;
    }

    .row-contact{
        display: none;
    }
    .row-floating{
        margin-bottom: 0;
        display: flex;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .row-floating .facebook{
        padding-top: 10px;
        padding-bottom: 10px;
         background-color: #3b5998;
    }
    .row-floating .facebook img{
        height: 40px;
    }
    .row-floating .whatsapp{
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: green;
    }
    .row-floating .whatsapp img{
        height: 40px;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}